div{
border: 1px solid black;
}

#Geral{


width:800px;
margin: 0 auto;


}

#Cabecalho{

height:100px;
background-color:blue;
color:white;


}

#Menu{

height:40px;
background-color:green;
color:white;


}

#Conteudo{

height:400px;


}

#Rodape{

height:60px;
background-color:blue;
color:white;


}

