div{
border: 1px solid black;
}

#Geral{


width:800px;
margin: 0 auto;


}

#Cabecalho{

height:100px;
background-color:blue;
color:white;


}

#Menu{

height:450px;
width:200px;
background-color:green;
color:white;
float:left;


}

#Conteudo{

width:394px;
height:450px;
float:left;

}

#Direita{

height:450px;
width:200px;
background-color:green;
color:white;
float:right;


}

#Rodape{

height:45px;
background-color:blue;
color:white;
clear: both;


}

