div{
border: 1px solid black;
}

#Geral{


width:800px;
margin: 0 auto;


}

#Cabecalho{

height:100px;
background-color:blue;
color:white;


}

#Menu{

height:500px;
width:200px;
background-color:green;
color:white;
float:left;


}

#Conteudo{

width:596px;
height:500px;
float:left;

}







