p.ex3 {
    margin: 20px;
    padding-block-end: 10px;
    position: initial;
    display: block;
    width: 200px;
    border: solid black;
    text-align: center;
}

#div1 {
    height: -30px;
    width: 1280px;
    border: solid black;
}
